:root{
    --accent: #ea9180;
    --accentHover: #ff7256;
    --dark: #304969;
    --dark80: rgba(40, 70, 80, 0.8);
    --dark60: rgba(40, 70, 80, 0.6);
    --light: #f5f9fc;
    --trasition: all 0.3s ease 0s;    
}

* {
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    overflow: auto;

}

body{
    
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

p, a {
    color: var(--light);
    text-decoration: none;
}

a {
    cursor: pointer;
}

main{
    height: 100%;
    display: grid;
    grid-template-columns: minmax(60px,1fr) repeat(6, minmax(50px, 190px)) minmax(60px,1fr);

}

header{
    grid-column: 2 / span 6;
    height: 180px;
}
nav {
    display: flex;
    align-items: center;
    height: 150px;

}

.links{
    margin-left: auto;
}

.links a{
    font-size: 1.625rem;
    font-weight: 400;
    transition: var(--trasition);
    margin-right: 50px;
}

.links a:hover{
    color: var(--accent);
}

.info {
    margin: 0px;
    grid-column: 2/span 4;
}

.hero__font {
    margin: 0;
    color: var(--light);
    font-weight: 700;
    font-size: 2.25rem;
}

.info p{
    color: var(--light);
    font-weight: 700;
    font-size: 1.0rem;
    text-align: justify;
}
.card_group{
    grid-column: 2/span 4;
}

.cards{ 
    display: inline-flex;
    margin-top: 55px;
    padding-right: 50px;

}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.7);
    width: 220px;
}

.card img {
    width: 100%;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}
.container {
    display: flex;
    height: 50px;
    padding: 8px 8px 8px 8px;
    align-items: center;
}
.icon_top{
    color: var(--light);
    font-weight: 200;
    font-size: 1.25rem;
}
